        /* Define root variables  */
        
         :root {
            --main-bg-color: #eee;
            --main-txt-color: #333;
            --main-header-color: #fff;
            --shadow: 5px 8px 5px rgba(0, 0, 0, 0.203);
            --wrapper-width: 90%;
            --wrapper-height: 300px;
            --bg-secondary: #6c757d;
            --bg-primary: #007bff;
            --bg-success: #28a645;
            --bg-danger: #dc3545;
            --bg-warning: #ffc107;
            --bg-info: #17a2b8;
            --bg-light: #f8f9fa;
            --bg-dark: #343a40;
            --bg-white: #fff;
        }
        
        .masthead {
            --main-masthead-color: #333;
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            line-height: 1.6;
            font-family: Arial, Helvetica, sans-serif;
            background: #dedede;
            color: var(--main-txt-color);
        }
        
        .wrapper {
            margin: 0 auto;
            width: var(--wrapper-width);
        }
        /* Modal Section  */
        
        .modal {
            margin: 0 auto;
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background: rgba(0, 0, 0, .5);
        }
        
        .modal-content {
            background: #f4f4f4;
            margin: 20% auto;
            padding: 20px;
            width: 400px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17);
            animation-name: modalOpen;
            animation-duration: 1s;
        }
        
        .closeBtn {
            color: #ccc;
            float: right;
            font-size: 30px;
        }
        
        .closeBtn:hover,
        .closeBtn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        @keyframes modalOpen {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes modalClose {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
        
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #fff;
            margin: 0 auto;
            box-shadow: 0px 5px 15px rgba(0, 0, 255, .2);
        }
        
        .form h1 {
            width: 100%;
            height: 50px;
            color: deepskyblue;
            background: #eee;
            padding: 10px 0;
            margin: 0 auto;
            text-align: center;
        }
        
        .form-group {
            position: relative;
            background: #eee;
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
        
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #fff;
            margin: 0 auto;
            text-align: center;
            box-shadow: 0px 5px 15px rgba(0, 0, 255, .2);
        }
        
        .form h1 {
            width: 100%;
            height: 50px;
            color: deepskyblue;
            background: #eee;
            padding: 10px 0;
            margin: 0 auto;
            text-align: center;
        }
        
        .form-group {
            position: relative;
        }
        
        .form-control {
            width: 85%;
            margin: 5px auto;
            padding: 7px 28px;
            color: #666;
            border: 1px solid #eee;
        }
        
        .form-group i {
            position: absolute;
            left: 0;
            top: 4px;
            color: #aaa;
            padding: 9px 6px;
            margin-right: 15px;
            transition: all .75s ease-in;
        }
        
        .form-group input[type='text'] {
            color: #333;
            outline: none;
            transition: .3s;
        }
        
        input[type=text]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }
        
        .form-group input[type='text']:focus+i {
            color: deepskyblue;
        }
        
        .form-group input[type='button'] {
            display: block;
            margin: 0 auto;
            width: 100%;
            background: deepskyblue;
            border: none;
            color: #fff;
            transition: all 1s ease-in;
            margin-bottom: 20px;
        }
        
        .form-group input[type='button']:hover {
            background: #26c;
        }
        /*
.form-group i{
background-color:#aaa;
color:#fff;
padding:8px 8px;
border-radius:4px 0 0 4px;

}*/
        /* Nav bar section  */
        
        .nav-bar {
            width: 100%;
            height: 72px;
            margin: 0px auto;
            margin-top: 1px;
            padding: 3px;
            text-align: center;
            background: #fff;
            border-bottom: 2px solid #0b91bd;
        }
        
        .nav-bar img {
            width: 36px;
            height: auto;
            align-self: center;
        }
        
        .masthead {
            display: grid;
            grid-template-columns: 9fr 1fr;
            background: var(--main-masthead-color);
        }
        
        .mast {
            width: 100%;
            height: var(--wrapper-height);
            opacity: 0.6;
            background: #333 url(../images/home-bg.jpg) no-repeat 0 0px;
            background-size: cover;
            order: 0;
        }
        
        .mast .intro-body {
            width: 100%;
            height: 180px;
            text-align: center;
        }
        
        .intro-body .introBtn {
            margin: 20px auto;
        }
        
        .intro-body h1 {
            font-size: 2.5rem;
            color: var(--bg-light);
            margin-top: 20px;
        }
        
        .intro-body p {
            padding: 5px 50px;
            color: var(--bg-light);
        }
        
        .intro-body .contactBtn {
            text-decoration: none;
        }
        
        .intro-body .contactBtn:first-child {
            background: var(--bg-danger);
            margin-right: 30px;
        }
        
        .intro-body .contactBtn:first-child:hover {
            background: rgb(38, 255, 0);
            color: var(--bg-white);
        }
        
        .social-media-wrapper {
            display: flex;
            height: var(--wrapper-height);
            width: 100%;
            background: var(--main-bg-color);
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            order: 1;
            /*#eee;*/
        }
        
        .social-media-wrapper div.fab-square {
            width: 100%;
            margin: 0 auto;
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid #ccc;
            transition: all 1s ease-in;
        }
        
        .fab-square:hover {
            background: #ccc;
        }
        
        .fab:hover {
            color: deepskyblue;
        }
        
        .fab {
            /* text-align: center; */
            width: 44px;
            height: 44px;
            color: var(--main-masthead-color);
            transition: all 1s;
            /* var(--main-header-color); */
        }
        
        .about-grid {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 3fr 2fr;
            grid-gap: 10px;
            /* align-items: center; */
            border: 1px solid #eee;
            background: #efefef;
        }
        
        .about-me p {
            margin: 10px auto;
        }
        
        .profile {
            width: 100%;
            height: 300px;
            background: #eee;
        }
        
        .card {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 250px;
            background: #fff;
            padding: 0 10px;
        }
        
        .skills h3 {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        
        .skills h4 {
            color: #063479;
            text-align: center;
            padding: 0 1px;
            font-size: .8rem;
        }
        
        .skills {
            text-align: center;
            margin: 0 auto;
            padding: 0px 20px;
            /* background: #eee; */
        }
        
        .skills div.bar {
            margin: 0 auto;
            text-align: center;
            height: 205px;
            width: 30px;
            background: #ddd;
        }
        
        .progress {
            margin-top: 10px;
            justify-self: center;
            align-self: end;
        }
        
        .percent {
            background: #1da3cf;
        }
        
        .video-bg {
            margin: 0px auto;
            width: 100%;
            height: 80px;
            background: #333 url(../images/sport-2250970_1920.jpg) no-repeat 0 -150px;
            background-size: cover;
            text-align: center;
        }
        
        .video-bg .video-overlay {
            width: 100%;
            height: 80px;
            background: black;
            z-index: 1;
            opacity: 0.5;
        }
        
        .video-overlay h1 {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
        
        .video-overlay .fas {
            color: #fff;
            margin: 0px auto;
            line-height: 80px;
            transition: all 1s;
        }
        
        .video-overlay .fas:hover {
            color: #26c;
        }
        
        .projects {
            padding: 20px auto;
            margin-bottom: 0px;
            width: 100%;
            height: 380px;
            text-align: center;
            background: #eee;
        }
        
        .projects h1 {
            padding-top: 20px;
        }
        
        .works {
            margin: 10px auto;
            width: 100%;
            height: 325px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .work-item {
            margin: 0px auto;
            width: 33%;
            height: 90%;
            border-right: 1px solid #eee;
            background: var(--bg-light);
            /* box-shadow: var(--shadow); */
        }
        
        .education {
            margin: 0 auto;
            padding: 20px auto;
            width: 100%;
            height: 100%;
            background: #fff;
            text-align: center;
        }
        
        .accordion-toggle,
        .accordion-toggle2,
        .accordion-toggle3 {
            margin: 0 auto;
            width: 100%;
            border: 1px solid #fff;
        }
        
        .accordion,
        .accordion2,
        .accordion3 {
            /* padding: 20px; */
            margin: 0 auto;
            font-size: 1.2rem;
            text-align: center;
            background: #fff;
            max-height: 0;
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: all .5s ease-out;
            border: 1px solid #ddd;
        }
        
        .education h4 {
            display: block;
            background: #eee;
            text-align: center;
            padding: 10px 20px;
        }
        
        .education h1 {
            padding: 20px;
            background: var(--bg-light);
        }
        
        .education h4:hover {
            cursor: pointer;
        }
        
        .open {
            padding: 20px;
            max-height: 400px;
        }
        
        .footer {
            display: grid;
            /* margin-top: 20px; */
            width: 100%;
            height: 248px;
            background: #333 url('../images/footer-bg.png') no-repeat 0 0;
            background-size: cover;
            grid-template-columns: 7fr 3fr;
            color: #eee;
        }
        
        .footer-mast {
            width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;
            align-self: center;
        }
        
        .footer-social {
            margin: 0 auto;
            width: 100%;
            height: auto;
            border: 1px solid #888;
            text-align: center;
            /* background: yellow; */
        }
        
        .contactme {
            width: 100%;
            height: auto;
            margin: 20px auto;
        }
        
        .contactBtn {
            font-size: 1.1rem;
            border: none;
            padding: 10px 60px;
            color: #eee;
            background: #333;
            border: 1px solid #eee;
            border-radius: 5px;
            transition: all 1s ease-in;
        }
        
        .contactBtn:hover {
            color: #333;
            background: #eee;
        }
        
        .footer-sm {
            margin: 0 auto;
        }
        
        .fas-footer {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0px auto;
            text-align: center;
            background: #eee;
            line-height: 50px;
            border-radius: 50%;
            transition: all 1s ease-in;
        }
        
        .fas-footer:hover {
            background: #26c;
        }
        
        .fas-footer .fab {
            padding: 0px;
            color: #00bff3;
            /* background: #efff; */
        }
        
        .fas-footer .fab:hover {
            background: none;
        }
        
        .footer-social h3 {
            margin: 20px auto;
        }
        /* Mobile styles */
        
        @media screen and (max-width: 400px) {
            .intro-body p {
                display: none;
            }
            .intro-body h1 {
                font-size: 0.5rem;
                color: var(--bg-light);
                margin-bottom: 0;
            }
            .intro-body .introBtn .contactBtn {
                margin: 0px auto;
                padding: 10px;
                background: yellow;
            }
        }
        
        @media screen and (max-width: 325px) {
            body {
                min-width: 325px;
            }
        }
        
        @media screen and (max-width: 500px) {
            body {
                background-color: #f09a9d;
            }
            .wrapper {
                position: relative;
            }
            /* Style for Nav-bar  */
            .nav-bar {
                margin: 0px auto;
                width: 100%;
                position: absolute;
                display: block;
                left: 0;
                top: 0px;
                border-bottom: 2px solid #666;
                /* var(--bg-warning); */
            }
            /* Styling masthead section  */
            .masthead {
                height: var(--wrapper-height);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                /* margin-top: 50px; */
            }
            .mast {
                height: 100%;
                position: relative;
                margin: 0 auto;
            }
            .mast .intro-body {
                position: absolute;
                width: 95%;
                height: 180px;
                /* background: rgba(255, 255, 255, 0.95); */
                top: 85px;
                text-align: center;
                margin: 10px 10px;
                border-radius: 8px;
                border: 1px
            }
            .intro-body h1 {
                font-size: 2.5rem;
                color: var(--bg-light);
                margin-bottom: 0;
            }
            .intro-body p {
                padding: 5px 20px;
                color: var(--bg-light);
            }
            .intro-body .contactBtn {
                text-decoration: none;
            }
            .intro-body .contactBtn:last-child {
                color: #eee;
                background: var(--bg-secondary);
                border: 1px solid var(--bg-light);
                transition: all 1s ease-in;
            }
            .intro-body .contactBtn:hover {
                background: var(--bg-light);
                color: deepskyblue;
            }
            .social-media-wrapper {
                display: flex;
                flex-direction: row;
                height: 64px;
                box-shadow: var(--shadow);
            }
            .fab-square {
                border-right: 1px solid #fff;
            }
            .fab {
                font-size: 2.2rem;
            }
            /* Styles for About Section  */
            .about-grid {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
            }
            .profile {
                width: 100%;
                background: yellow;
            }
            .about-me {
                padding: 10px 20px;
                margin: 1px auto;
                color: var(--bg-light);
                background: var(--bg-dark);
            }
            .skills {
                width: 100%;
                padding: 10px;
                background: var(--bg-light);
            }
            .skills h3 {
                font-size: 1.8rem;
                color: var(--bg-secondary);
                border-bottom: 2px solid var(--bg-secondary);
                margin: 0 auto;
            }
            .card {
                /* height: 300px; */
                background: var(--bg-light);
                box-shadow: var(--shadow);
            }
            /* Styles for Video overlay section  */
            .video-overlay h1 {
                display: none;
            }
            /* styles for Projects section  */
            .projects {
                margin: 0 auto;
                color: var(--bg-secondary);
                background: var(--bg-light);
            }
            .projects h1 {
                font-size: 1.6rem;
            }
            .works {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .work-item {
                /* border: none; */
                margin: 0 auto;
                height: 100%;
                width: 100%;
                justify-self: stretch;
                background: var(--bg-white);
                border-bottom: 1px solid var(--bg-light);
                box-shadow: none;
            }
            /* Style for Education Sector  */
            .education h1 {
                font-size: 1.6rem;
                color: var(--bg-light);
                background: var(--bg-warning);
                margin: 0 auto;
            }
            /* Style for Footer Section  */
            .footer {
                margin: 0 auto;
                display: flex;
                flex: 1 auto;
                align-items: center;
            }
            .footer-mast span {
                display: none;
            }
            .footer h3 {
                font-size: 0.9rem;
                margin: 10px auto;
            }
            .footer #mobile-num {
                margin: 0px auto;
                font-size: 0.8rem;
            }
            .contactBtn {
                font-size: .95rem;
                padding: 5px 40px;
                color: var(--bg-light);
                background: var(--bg-primary);
                border: 1px solid var(--bg-secondary);
            }
            .footer-social {
                border: none;
            }
            .fas-footer {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            .fas-footer .fab {
                font-size: 0.85rem;
            }
        }
        /* Tablet styles */
        
        @media screen and (min-width: 501px) and (max-width: 960px) {
            body {
                background-color: red;
            }
            .mast .intro-body {
                /* position: absolute; */
                width: 100%;
                height: 180px;
                text-align: center;
                border: 1px
            }
            .intro-body .introBtn .contactBtn {
                margin: 0px auto;
                display: block;
                border: none;
                border-radius: 0px;
            }
            /* Style for header social media section  */
            .fab {
                font-size: 2.2rem;
            }
            /* Styles for About Section  */
            .profile {
                width: 100%;
                background: yellow;
            }
            .about-grid {
                display: flex;
                flex-direction: column;
                /* margin-bottom: 50px; */
            }
            /* .about-grid>div {
            flex: 1 auto;
        } */
            /* Styles for Video overlay section  */
            .video-bg .video-overlay {
                position: relative;
            }
            .video-overlay h1 {
                position: absolute;
                top: 25px;
                left: 300px;
                font-size: 0.75rem;
                display: block;
            }
            /* styles for Projects section  */
            .projects {
                min-height: 500px;
                height: auto;
                width: 100%;
                margin: 0 auto;
            }
            .projects h1 {
                padding: 10px;
            }
            .works {
                display: flex;
                justify-content: stretch;
                flex-wrap: wrap;
                margin: 0 auto;
            }
            .work-item {
                flex: 1 auto;
                width: 45%;
                height: 67%;
                margin: 1px auto;
                box-shadow: none;
            }
            /* Style for Education Sector  */
            .education h1 {
                color: var(--bg-light);
                background: var(--bg-info);
                margin-bottom: 0;
            }
            /* Style for Footer Section  */
            .footer {
                margin: 0 auto;
                display: flex;
                flex: 1 auto;
                align-items: center;
            }
            .footer-social {
                border: none;
            }
            .fas-footer .fab {
                font-size: 0.95rem;
            }
        }